body {
  color: #000;
  background-size: cover;
  background-image: url(https://www.wallpapertip.com/wmimgs/9-96009_black-and-red-design.jpg);
  font-family: 'Roboto', sans-serif;
}
.contact-form {
  padding: 50px;
  margin: 30px auto;
  background: rgb(156, 45, 41);
}
.contact-form h1 {
  font-size: 42px;
  font-family: 'Pacifico', sans-serif;
  margin: 0 0 50px;
  text-align: center;
}
.contact-form .form-group {
  margin-bottom: 20px;
}
.contact-form .form-control,
.contact-form .btn {
  min-height: 40px;
  border-radius: 2px;
}
.contact-form .form-control {
  border-color: #fffdfd;
}
.contact-form .form-control:focus {
  border-color: #070303;
  box-shadow: 0 0 8px #000000;
}
.contact-form .btn-primary,
.contact-form .btn-primary:active {
  min-width: 250px;
  color: #ffffff;
  background: #000 !important;
  margin-top: 20px;
  border: none;
}
.contact-form .btn-primary:hover {
  color: rgb(156, 11, 11);
}
.contact-form .btn-primary i {
  margin-right: 5px;
}
.contact-form label {
  opacity: 0.9;
}
.contact-form textarea {
  resize: vertical;
}
.bs-example {
  margin: 20px;
}
