<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>pomato</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
   <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <!-- Responsive-->
    
    <link rel="stylesheet"  th:href="@{css/responsive.css}"/>
    <!-- fevicon -->
    <link rel="icon" href="img/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{css/jquery.mCustomScrollbar.min.css}"/>
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}"/>
    <!-- owl stylesheets -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet"th:href="@{css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min.cs}"/>
    <link rel="stylesheet" media="screen" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css}"/>
    <!--[if lt IE 9]>
    
      <script type="text/javascript" th:src="@{//https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
      <script th:src="@{//oss.maxcdn.com/respond/1.4.2/respond.min.js}"> type="text/javascript"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">

  <div th:replace="layout :: navbar"></div>


   
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                    <div class="about_img">
                        <figure><img src="img/about.png" alt="img" /></figure>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                    <div class="about_box">
                        <span>Our Mobile Shop</span>
                        <p>Ecommerce platforms are one of the most used types of CMSes and there are more and more apps popping out (more than 120!). That's why comparison websites started to include ecommerce platforms to their inventory. However, I've noticed some of these sites are quite biased and falsely rank particular platforms higher than others because of financial incentives, so I decided to start my own blog and comparison chart for these types of web apps.</p>

                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                    <div class="about_box_ ">
                        <span>Our Mobile Shop</span>
                        <p>Ecommerce is an unbiased review site that shows the good, great, bad, and ugly of online store building software. We strive to provide you with easy to read (and sometimes fun) objective reviews that will help you choose which ecommerce platform is right for you. We do get affiliate commissions from some of the solutions we're reviewing and comparing but this doesn't influence our writings in any way!</p>

                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                    <div class="about_img">
                        <figure><img src="img/about.png" alt="img" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end about -->
    
    
      
    <div th:replace="layout :: footer"></div>
    
  
   <!-- end footer -->
    <!-- Javascript files-->
    <script th:src="@{js/jquery.min.js}"> </script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{js/plugin.js}"></script>
    <!-- sidebar -->
    <script th:src="@{js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{js/custom.js}"></script>
    <!-- javascript -->
    <script th:src="@{js/owl.carousel.js}"></script>
    <script th:src="@{https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
    
    
</body>
</html>